<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <table cellspacing='10' cellpadding = '10' border="2">
        <tr>
            <th>Roll No</th>
            <th>Results</th>
        </tr>
                {{!-- fetching value of keys using hbs as templating engine and adding it to table dynamically --}}
        {{#each keys}}     
        <tr>
            <th>{{@key}}</th>
            <td align="center">{{this}}</td>
        </tr>
        {{/each}}
    </table>
    
</body>
</html>